{{- $merge_tool := promptString "merge_tool" "vimdiff" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s_%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $git_name := promptString "git_name" -}}
{{- $git_email := promptString "git_email" -}}
{{- $git_signing_key := promptString "git_signing_key" -}}

---
# Configuration
merge:
{{- if eq $merge_tool "code" "vscode" }}
  command: "code"
  args:
  - "--wait"
  - "--diff"
{{- else if eq $merge_tool "nvim" "nvimdiff" }}
  command: "nvim"
  args:
  - "-d"
{{- else }}
  command: {{ $merge_tool | quote }}
{{- end }}

# Template data
data:
  osid: {{ $osid | quote }}
  git_name: {{ $git_name | quote }}
  git_email: {{ $git_email | quote }}
  git_signing_key: {{ $git_signing_key | quote }}
