#!/usr/bin/env sh

{{- if eq .osid "linux_arch" }}
sudo pacman -S --noconfirm --needed {{- range $package := concat .packages.linux .packages.linux_arch }} {{ $package | quote }}{{- end }}
{{- else if eq .osid "linux_manjaro" }}
sudo pacman -S --noconfirm --needed {{- range $package := concat .packages.linux .packages.linux_manjaro }} {{ $package | quote }}{{- end }}
{{- else if eq .osid "linux_debian" }}
sudo apt-get install -y {{- range $package := concat .packages.linux .packages.linux_debian }} {{ $package | quote }}{{- end }}
{{- else if eq .osid "linux_ubuntu" }}
sudo apt-get install -y {{- range $package := concat .packages.linux .packages.linux_ubuntu }} {{ $package | quote }}{{- end }}
{{- else }}
echo "Unsupported osid: {{ .osid }}"
exit 1
{{- end }}

{{- if eq .osid "linux_arch" }}
which yay || (
  set -e
  cd /tmp
  git clone https://aur.archlinux.org/yay.git
  cd yay
  makepkg -si
)
{{- end }}
