#!/usr/bin/env bash

# packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{- $osid := .osid }}
{{- $pkgs := list }}
{{- $aur := list }}
{{- $snaps := list }}

{{- if eq $osid "linux_arch" "linux_cachyos" }}
{{-   $pkgs = .linux_arch.all.packages }}
{{-   $aur = .linux_arch.all.aur }}
{{-   if .graphical }}
{{-     $pkgs = concat $pkgs .linux_arch.graphical.packages }}
{{-     $aur = concat $aur .linux_arch.graphical.aur }}
{{-   end }}
{{- else if eq $osid "linux_debian" }}
{{-   $pkgs = .linux_debian.all.packages }}
{{-   if .graphical }}
{{-     $pkgs = concat $pkgs .linux_debian.graphical.packages }}
{{-   end }}
{{- else if eq $osid "linux_ubuntu" }}
{{-   $pkgs = .linux_ubuntu.all.packages }}
{{-   $snaps = .linux_ubuntu.all.snap }}
{{-   if .graphical }}
{{-     $pkgs = concat $pkgs .linux_ubuntu.graphical.packages }}
{{-     $snaps = concat $snaps .linux_ubuntu.graphical.snap }}
{{-   end }}
{{- end }}

{{ template "logging.sh" }}

install_pacman() {
  sudo pacman -Syy --noconfirm || die "Failed to update package databases"
  sudo pacman -S --noconfirm --needed "$@" || die "Failed to install packages"
}

install_aur() {
  paru -S --noconfirm --needed --sudoloop "$@" || die "Failed to install AUR packages"
}

install_apt() {
  sudo apt-get update || die "Failed to update package lists"
  sudo apt-get install -y "$@" || die "Failed to install packages"
}

install_snap() {
  for pkg in "$@"; do
    sudo snap install "$pkg" || die "Failed to install snap: $pkg"
  done
}

set -e

osid={{ $osid | quote }}
graphical={{ .graphical | quote }}
pkgs=({{ range $pkgs }}{{ . | quote }} {{ end }})
aur=({{ range $aur }}{{ . | quote }} {{ end }})
snaps=({{ range $snaps }}{{ . | quote }} {{ end }})

log_info "Detected OS: $osid"
log_info "Graphical: $graphical"

case "$osid" in
  linux_arch|linux_cachyos)
    (( ${#pkgs[@]} )) && { log_info "Installing Arch packages..."; install_pacman "${pkgs[@]}"; }
    (( ${#aur[@]} )) && { log_info "Installing AUR packages..."; install_aur "${aur[@]}"; }
    ;;
  linux_debian)
    (( ${#pkgs[@]} )) && { log_info "Installing Debian packages..."; install_apt "${pkgs[@]}"; }
    ;;
  linux_ubuntu)
    (( ${#pkgs[@]} )) && { log_info "Installing Ubuntu packages..."; install_apt "${pkgs[@]}"; }
    (( ${#snaps[@]} )) && { log_info "Installing snap packages..."; install_snap "${snaps[@]}"; }
    ;;
  *)
    die "Unsupported OS: $osid (supported: linux_arch, linux_cachyos, linux_debian, linux_ubuntu)"
    ;;
esac

log_info "Package installation complete"
