#!/usr/bin/env bash

# private_dot_tmux.conf hash: {{ include "private_dot_tmux.conf" | sha256sum }}

set -e

# Install TPM if needed
[ -d ~/.tmux/plugins/tpm ] ||
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

if [ -n "$TMUX" ]; then
  ~/.tmux/plugins/tpm/bin/install_plugins
  ~/.tmux/plugins/tpm/bin/update_plugins all
  ~/.tmux/plugins/tpm/bin/clean_plugins
else
  gen_uuid() {
    if command -v uuidgen >/dev/null 2>&1; then
      uuidgen
    else
      echo "tmux-$(date +%s)-$RANDOM"
    fi
  }

  session="$(gen_uuid)"
  TMUX='' tmux new-session -d -s "$session"
  TMUX='' tmux send-keys -t "$session" \
    "$HOME/.tmux/plugins/tpm/bin/install_plugins && $HOME/.tmux/plugins/tpm/bin/update_plugins all && $HOME/.tmux/plugins/tpm/bin/clean_plugins; tmux wait-for -S $session" Enter
  TMUX='' tmux wait-for "$session"
  TMUX='' tmux kill-session -t "$session"
fi
